/* .blog-color{
background: linear-gradient(311deg, rgba(244, 250, 252, 0.708) 0%, rgb(255 255 255) 56%, rgb(255 255 255) 101%);
}
.blog-color2{
background: linear-gradient(311deg, rgba(249, 228, 245, 0.779) 0%, rgb(255 255 255) 56%, rgb(255 255 255) 101%);
}
.blog-color3{
background: linear-gradient(311deg, rgba(250, 225, 225, 0.553) 0%, rgb(255 255 255) 56%, rgb(255 255 255) 101%);
} */